<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<%
  const successMessage = typeof success !== "undefined" ? success : null;
  const errorList = typeof errors !== "undefined" ? errors : [];
%>
<body>
    <div>
        <h1>Login</h1>
        <div>
        <form action="/users/login" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label><br>
        <input 
            type="password" 
            id="password" 
            name="password"
            pattern="^(?=.*[!@#$%^&*]).{8,}$"
            title="Password must be at least 8 characters long and include at least one special character.", 
            required><br>

        <input type="submit" value="Submit">
        <a href="/users/create-account">Create Account</a>
    </form> 

    <% if (errorList && errorList.length > 0) { %>
            <div>
                <div class="error-message">
                <% errorList.forEach(error => { %>
                    <h3><%= error %></h3>
                <% }) %>
                </div>
            </div>
        <% } %>

    <% if (successMessage) { %>
        <div>
            <div class="success-message">
                <h3><%= successMessage %></h3>
            </div>
        </div>
    <% } %>

</body>
</html>